17853291-uhd_3840_2160_30fps.mp4
output.mp4
annotations
images
labels
labels.cache
Lanczos4.jpg,
Area.jpg,
hsvcone.gif
cat.jpg
cubic.jpg,
Linear.jpg,
Nearest.jpg,
giraffe.webp
insurance.csv
cnn_128_model-100.pth
data_banknote_authentication.csv
